$primary-color: #138eb0;
$primary-color-dark1: #0a779a;
$primary-color-dark2: #046183;
$primary-color-dark3: #004c6d;
$primary-color-light1: #69afc2;
$primary-color-light2: #a5cfd7;
$primary-color-light3: #c1dcdd;
$primary-color-light4: #d8ecec;
/******  GRAY  ******/
$gray1: #c3c3c3;
$gray2: #a5a5a5;
$gray3: #878787;
$gray4: #787878;
$gray5: #5a5a5a;
$gray6: #3c3c3c;
/******  BACKGROUND COLORS  ******/
$background-color-bright: #f1f6fc;
/******  TABLE  ******/
$background-color-bright2: #e9f2fa;
$background-color-bright3: #e2eef8;
$background-color-bright4: #f1f7fc;
/******  TEXT COLORS  ******/
$text-color-bright: #f1f6fc;
$text-color-dark: #1e1e1e;
$text-color-primary: #002535;
/******  OTHER COLORS  ******/
$color-danger: #dc3545;
$color-danger-dark: #971623;

$navbar-height: 50px;

$light: 200;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 800;

@mixin outline-with-radius($width, $color) {
    box-shadow: 0px 0px $width $width $color;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: $background-color-bright;
    
    ::selection {
        background-color: #ffe70d;
        color: $text-color-dark;
        text-shadow: 2px 2px 8px black;
    }
}

.k-main-page {
    $padding-ver: 2px;
    width: 100%;
    margin-top: $navbar-height;
    padding: 10px $padding-ver;
}

.k-navbar {
    $padding: 20px;

    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: $primary-color;
    padding-left: $padding;
    align-items: center;

    .k-nav-item {
        color: $text-color-bright;
        font-size: 12pt;
        text-decoration: none;
        padding: 0 10px 0 10px;
        height: 100%;
        line-height: 46px;

        &.selected {
            background-color: $primary-color-dark2;
        }

        &:hover {
            background-color: $primary-color-dark1;
        }
    }
}

.ac-data {
    margin: 10px auto 30px auto;
    tr {
        td {
            padding: 5px 10px;
        }
    }

    thead {
        font-weight: $semibold;
        color: $text-color-bright;
        border-bottom: 2px solid $primary-color-dark2;

        tr {
            td {
                padding: 5px 10px;
                background-color: $primary-color;
            }
            &.divisions {
                border-top: 1px solid $primary-color-light2;
                padding: 0px 10px;
            }
            &:not(.divisions) {
                td {
                    &:first-child {
                        border-top-left-radius: 10px;
                    }
                    &:last-child {
                        border-top-right-radius: 10px;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $primary-color-light3;
            td {
                color: $primary-color-dark3;
                &.highlight {
                    font-weight: $semibold;
                    color: $text-color-primary;
                }
            }

            &:nth-child(odd) {
                background-color: $background-color-bright2;
            }
            &:nth-child(even) {
                background-color: $background-color-bright4;
            }

            &:hover {
                background-color: $primary-color-light4;
            }
        }
    }

    tfoot {
        td {
            background-color: $primary-color-light3;
            &:first-child {
                border-bottom-left-radius: 10px;
            }
            &:last-child {
                border-bottom-right-radius: 10px;
            }
        }
    }
}

.icon {
    float: left;
    width: 42px;
    border: 2px solid $primary-color-light2;
    border-radius: 5px;
    margin-right: 15px;
}

.k-btn {
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    margin: 0 5px;

    &.k-btn-primary {
        background-color: $primary-color;
        color: $text-color-bright;

        &:hover {
            @include outline-with-radius(2px, $primary-color-dark3);
        }
    }
    &.k-btn-danger {
        background-color: $color-danger;
        color: $text-color-bright;

        &:hover {
            @include outline-with-radius(2px, $color-danger-dark);
        }
    }
}

.vaccine-FACTS {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    justify-content: center;

    .FACT {
        margin: 10px;
        width: 300px;
        .FACT-name, .FACT-value, .FACT-max {
            display: block;
            width: 100%;
            padding: 5px 20px;
        }
        .FACT-name {
            background-color: $primary-color-light1;
            font-size: 16pt;
            font-weight: $semibold;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-top: 3px solid $primary-color-dark1;
            border-left: 3px solid $primary-color-dark1;
            border-right: 3px solid $primary-color-dark1;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 48px;
                display: inline-block;
                margin-right: 5px;
            }
            span {
            }
        }
        .FACT-value {
            background-color: $background-color-bright;
            font-size: 28pt;
            font-weight: $bold;
            border-left: 3px solid $primary-color-dark1;
            border-right: 3px solid $primary-color-dark1;
        }
        .FACT-max {
            background-color: $primary-color-light4;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 3px solid $primary-color-dark1;
            border-right: 3px solid $primary-color-dark1;
            border-bottom: 3px solid $primary-color-dark1;
        }
    }
}

.background {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/vaccine-bg.jpg");
    background-position: 20% 0;
    background-size: 140vw;
    display: flex;
    
    img {
        width: 70%;
        max-width: 941px;
        margin: auto;
        display: block;
        border-radius: 50px;
        box-shadow: 10px 10px 20px $primary-color-dark3;
        //box-shadow: 0.75vw 0.75vw 1.5vw black;
    }
}